*{
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
}
.nav-style{
 background: white;
 top: 0;
 position: sticky;
z-index: 2;
}
.nav-text{
    font-size: 110%;
    font-weight: 600;
}
.navbar-toggler{
    border: none;
    outline: none;
}
.jumbotron{
    background-image: url(frontimg.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
}
.text-container{
 background-color: teal;
}
.textstyle1{
    font-size: 500%;
    font-weight: 900;
    
}
.textstyle2{
    font-size: 150%;
    font-weight: 200;
}
.textstyle3{
    font-size: 300%;
    font-weight: 800;
}
.textstyle4{
    font-size: 120%;
}